
.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #8EA7E9;
}

.logo{
    width: 35%;
    margin-left: 20%;
    margin-top: 10px;
    
}

.navlinks {
    display: flex;
    list-style: none;
    
}

.navlinks li button{
    margin-right: 20px;
    
}

body {
    background-color: #FFF2F2;
}



  